<div class="row">
    <div class="col-md-3">
        <h2>Parents to Parents</h2>
    </div>
    <div class="col-md-5 col-md-offset-4">
        <ul class="nav-ul">
            <li>
                <a href="#" (click)="setTab('disorders')">Mental/Brain Disorders</a>
            </li>
            <li>
                <a href="#">Therapies</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
        </ul>
        <ul class="sub-nav">
            <li>
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Adults
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li *ngFor="let disorder of disorders.adults"><a href="#">{{disorder.name}}</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Children
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li *ngFor="let disorder of disorders.children"><a href="#">{{disorder.name}}</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    {{DISORDERS}}
</div>
