<div class="row">
    <div class="col-md-3">
        <h2>Parents to Parents</h2>
    </div>
    <div class="col-md-5 col-md-offset-4">
        <ul class="nav-ul">
            <li>
                <a href="#" (click)="setTab('disorders')">Mental/Brain Disorders</a>
            </li>
            <li>
                <a href="#" (click)="setTab('therapies')">Therapies</a>
            </li>
            <li>
                <a href="#" (click)="setTab('about')">About Us</a>
            </li>
        </ul>
        <ul class="sub-nav" *ngIf="tab == 'disorders'">
            <li>
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Adults
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li *ngFor="let disorder of disorders.adults"><a (click)="setDisorder(disorder.name)">{{disorder.name}}</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Children
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li *ngFor="let disorder of disorders.children"><a (click)="setDisorder(disorder.name)">{{disorder.name}}</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row" *ngIf="disorder">
    <h1>Disorder = {{disorder}}</h1>
</div>
